.background-images{
    display: flex;
    justify-content: center;
}

.header{
    width: 100%;
    max-width: 1200px;
    //background-color: sandybrown;
    
    .header__nav{
        margin-top: 30px;
        font-family: 'Open Sans';
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 100%;

        .header__nav-item__logo{
            // background-color: seagreen;
                
            width: 20%;
            height: 40px;
            background-image: url('../images/Jadoo-logo.svg');
            background-position: left;
            background-repeat: no-repeat;
            object-fit: contain;
            position: relative;
            overflow: hidden;

            &::after{
                position: absolute;
                content: '';
                background-image: url('../images/Jadoo-logo-back.png');
                left: +73px;
                bottom: +5px;
                width: 40px;
                height: 18px;
                z-index: -1;
            }

            &:hover{
                    
            }
        }

        .header__nav-item{
            margin: 7px;
            
            &:hover{
                text-shadow: 12px 9px 13px rgba(0,0,0,0.33);
                border-radius: 10%;
            }

            .header__nav-item__sign-up-but{
                padding: 8px 12px;
                border: 1px black solid;
                border-radius: 5px;
            }
    
            .header__nav-item__lang-but{
                position: relative;
                
                &::after{
                    content: '';
                    height: 6px;
                    width: 10px;
                    display: inline-block;
                    margin-left: 5px;
                    padding-bottom: 2px;
                    background-image: url('../images/language-arrow.svg');
                    background-repeat: no-repeat;
                }
            }
        }
        
    }
    }
