.header {
    max-width: 1200px;
  }
  
  .header .header__nav {
    font-family: 'Open Sans';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .header .header__nav .header__nav-item .header__nav-item__logo {
    background-image: url("images/Jadoo-logo.svg");
    background-repeat: no-repeat;
  }
  
  .header .header__nav .header__nav-item .header__nav-item__sign-up-but {
    border: solid 1px black;
  }
  
  .header .header__nav .header__nav-item .header__nav-item__lang-but {
    position: relative;
  }
  
  .header .header__nav .header__nav-item .header__nav-item__lang-but::after {
    position: absolute;
    right: 0;
    top: 40%;
    background-image: url("images/language-arrow.svg");
  }